header{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;

    padding: 1rem;
}

header .logo{
    height: 70px;
    grid-column: 1 / 2;
    justify-self: left;
}

header nav {
    justify-self: center;
}

header nav ul{
    display: flex;
    gap: 1rem;
}

header .ctas {
    justify-self: right;
}

header .ctas{
    display: flex;
    gap: 1rem;
}