header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    padding: 1rem;
}

header .logo{
    height: 70px;
    grid-column: 1 / 2;
    justify-self: left;
}

header nav {
    justify-self: end;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 1.5rem;
}


header nav ul li a{
    padding: 0.3rem 1.5rem;
    text-decoration: none;
    color: #000;
}


header nav ul li a.column:hover{
    border: 1.5px solid transparent;
    border-radius: 1.5rem;
    background-color: #F6F400;
}


header nav ul li .btn{
    border-radius: 1.5rem;
}


header nav ul li .btn-primary{
    background-color: #F6F400;
    border: 1.5px solid transparent;
}


header nav ul li .btn-secondary{
    border: 1.5px solid #666;
}


header nav ul li .btn:hover{
    border-color: #666;
    text-decoration: none;
}


header nav ul li .btn-secondary:hover{
    background-color: rgba(0, 0, 0, 0.1);
}