@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

html{
    width: 100vw;
    height: 100vh;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    text-decoration: underline;
}

.btn{
    padding: 0.75rem 1.5rem;
    border-radius: 1.5rem;
}

.btn-primary{
    background-color: #F6F400;
    border: 1.5px solid transparent;
}

.btn-secondary{
    border: 1.5px solid #666;
}

.btn:hover{
    border-color: #666;
    text-decoration: none;
}

.btn-secondary:hover{
    background-color: rgba(0, 0, 0, 0.1)
}

.container{
    width: 95vw;
    max-width: 1920px;
    margin: 0 auto;
}